<a href="product_display.html">
 /* General */
 body {
    width: 800px;
    margin: 0 auto;
  }
  
  /* Styling the products display */
  
  .item img {
    width: 200px;
    height: 200px; 
    
}
  /* Typography */
  
  h1, h2 { 
    text-align: center;
  }

/*  Form styling */
  
    main {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        background: url(Images/Phone.jpg) no-repeat 50% center;
      }
  
  /* block styling */
  
  body > div {
    border: 5px solid black;
    display: flex;
  }
  

  
  
