/* Author: Jordan Chen 
-Assignment 2 file products page
-Followed Professor Port's Assignment 1 screencast */

<a href = "products_display.html">
 /* Image and alignment for the cover page */

 body {
    width: 800px;
    margin: 0 auto;
  }
  
  /* Styling the products display */
  
  .item img {
    width: 200px;
    height: 200px; 
    
}
  /* Typography */
  
  h1, h2 { 
    text-align: center;
  }

/*  Form styling */
  
    main {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
      
      }
  
  /* block styling */
  
  body > div {
    border: 5px solid black;
    display: flex;
  }
  

  
  
